<header class="navbar">
  <div class="logo">
    <span class="material-icons icon">dns</span> 
    <span class="text">Mesa de Partes Virtual</span>
  </div>
  
  <div class="user-section">
    <div class="user-info">
      <span class="welcome">Bienvenido</span>
      <strong class="username">{{nombreUsuario}}</strong> 
    </div>
    
    <button type="button" class="logout-btn" (click)="abrirModal()">
      <span class="material-icons">account_circle</span>
    </button>

    @if (isModalOpen){
      <div class="logout-dropdown" (click)="$event.target === overlay" #overlay>         
        <button class="btn-logout" (click)="logout()"> <span class="material-icons drop-icon">logout</span> Cerrar Sesión</button>
      </div>
    }
  </div>
</header>