<div class="citizen-dashboard">
  
  <div class="dashboard-header">
    <div class="header-titles">
      <h2>Mis Expedientes</h2>
    </div>
    
    <div class="header-actions">
      <div class="search-bar">
        <span class="material-icons search-icon">search</span>
        <input type="text" placeholder="Buscar expediente...">
      </div> 
      
      <button class="btn-primary new-btn" type="button" (click)="abrirModalExpediente()">
        <span class="material-icons">add</span>
        Nuevo Expediente
      </button>
    </div> 
  </div>

  <div class="cards-grid" >
    
    <div class="modern-card" *ngFor="let index of listaExpedientes">
      <div class="card-top">
        <div class="exp-id">
          <span class="material-icons icon-folder">folder_open</span>
          <strong>{{index.numeroExpediente}}</strong>
        </div>
        <div class="badge" [ngClass]="BadgeColor(index.estado)">
          <span class="material-icons badge-icon">{{ IconoEstado(index.estado) }}</span>
          {{ index.estado }}
        </div>
      </div>

      <div class="card-content">
        <div class="meta-data">
          <span class="doc-label">Tipo:</span>
          <span class="doc-value">{{index.tipoDocumentoNombre}}</span>
        </div>
        <h3 class="asunto-text"><span class="doc-label">Asunto:</span> {{index.asunto}}</h3>
        <h3 class="asunto-text"><span class="doc-label">Fecha Registro:</span> {{index.fechaCreacion | date: 'dd-MM-yyyy'}}</h3>
      </div>

      <div class="files-section">
        <div class="files-header">
          <span class="files-title">Archivos Adjuntos ({{index.archivos.length}})</span>
          <button class="btn-add-mini" (click)="abrirModalArchivo(index)">
            <span class="material-icons">add</span> Adjuntar
          </button>
        </div>
        
        <ul class="files-list">
          <li class="file-item" *ngFor="let archivo of index.archivos">
            <div class="file-info">
              <span class="material-icons file-icon">picture_as_pdf</span>
              <span class="file-name">{{archivo.nombreArchivo}}{{archivo.extension}}</span>
            </div>
            <div class="file-actions">
              <button class="file-btn view" title="Ver archivo" (click)="abrirVisor(archivo)">
                <span class="material-icons">visibility</span>
              </button>
              <button class="file-btn delete" title="Eliminar archivo" (click)="eliminarArchivo(archivo.id)">
                <span class="material-icons">close</span>
              </button>
            </div>
          </li>
        </ul>

        <div class="histial">
          <button class="histoia-btn" (click)="abrirModalMovimientos(index)" >
            Historial de Movimientos ({{index.historial.length}} movimiento) 
            <span class="material-icons">arrow_forward</span>
          </button>
        </div>

      </div>

    </div>
  </div>
</div>

<app-register-form
  *ngIf="isModalArchivoOpen"
  [expedienteSeleccinado]="isExpedienteSeleccionado" 
  (closeModal)="isModalArchivoOpen = false"
  (onCreateExpediente)="crearArchivo()">
</app-register-form>

<app-historial-movimientos
  *ngIf="isModalMovimientosOpen"
  [expedienteSeleccionadoMov]="isExpedienteSeleccionado"
  (closeModalMovimientos)="isModalMovimientosOpen = false">
</app-historial-movimientos>

<app-register-form-expediente
  *ngIf="isModalExpedienteOpen"
  (closeModalExpediente)="isModalExpedienteOpen = false"
  (onCreateExpediente)="crearExpediente()">
</app-register-form-expediente>

<app-visor-archivo
  *ngIf="isVisorOpen"
  [archivoSeleccionado]="isArchivo"
  (closeVisor)="isVisorOpen = false">
</app-visor-archivo>

