<div class="main-container">
  
  <div class="left-panel">
    <div class="welcome-content">
      <h1 class="welcome-title">BIENVENIDO</h1>
      <h2 class="institution-title">PORTAL INSTITUCIONAL</h2>
      <p class="welcome-text">
        Acceda al sistema de gestión de trámites y expedientes para registrar, 
        derivar y hacer seguimiento de documentos oficiales de manera segura.
      </p>
    </div>
    
    <div class="oval-shape shape-main"></div>
    <div class="oval-shape shape-sub-1"></div>
    <div class="oval-shape shape-sub-2"></div>
  </div>

  <div class="right-panel">
    <div class="form-container">

      @if (esLogin()) { 
        <app-login-form
        (IrARegistro)="conmutarPantalla()">
        </app-login-form>        
      } 
      
      @else {
        <app-register-form
        (IrALogin)="conmutarPantalla()">
        </app-register-form>
      }

    </div>
  </div>
</div>